.page {

    // .page__clients

    &__clients {
    }
}
.clients {
    padding: 50px 0 0 0 ;

    &__items {
        display: flex;
        justify-content: space-around;
    }

    // .clients__item

    &__item {
    }

    // .clients__subscribe

    &__subscribe {
    }
}
. {

    // ._container

    &_container {
    }
}
.subscribe {

    // .subscribe__title

    &__title {
    }

    // .subscribe__input

    &__input {
    }
}
