/* Обнуление */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #737373;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #FAFAFA;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.header-block {
    text-align: center;
}

.header-block h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57/40*100%);
    color: #252B42;
    text-align: center;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.header-block div {
    max-width: 511px;
    margin: 0 auto;
    line-height: calc(20/14*100%);
    letter-spacing: 0.2px;
}


/*----------  Шапка  ----------*/

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    color: #252B42;
    font-weight: 700;
    font-size: 24px;
}

.header__menu {
    margin: 0px 0px 0px 132px;
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 776px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    font-weight: 600;
    color: #737373;
    line-height: calc(24/14*100%);
}
.menu__link:hover{
    border-bottom: 2px solid #737373;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}


/*----------  Main  ----------*/

main {
    flex: 1 1 auto;
}

.main-block {
    position: relative;
}

.main-block__body {
    padding: 183px 0 192px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

@media (max-width: 479px) {
    .main-block__body {
        padding: 122px 0px 192px 0px;
    }
}

.main-block__body>*:not(:last-child) {
    margin: 0px 0px 35px 0px;
}

.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80/58*100%);
    color: #252B42;
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

@media (max-width: 479px) {
    .main-block__text {
        color: #504e4e;
    }
}

.main-block__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 479px) {
    .main-block__buttons {
        display: flex;
        flex-wrap: wrap;
        margin: -10px 0;
    }

}
.main-block__button {
    display: flex;
    border-radius: 37px;
    color: #0D5C63;
    font-weight: 700;
    line-height: 28px;
    border: 1px solid #0D5C63;
    padding: 10px 36px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}

@media (min-width: 479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block__button:hover {
    border-color: #FF7B47;
    background-color: #FF7B47;
    color: #FFF;
}

.main-block__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block__img img {
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main-block__img img {
        opacity: 0.5;
    }
}


/*----------  services  ----------*/

.services {
    background-color: #FAFAFA;
    margin: -120px 0px 0px 0px;
}

.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    position: relative;
    z-index: 3;
}

.services__column {
    padding: 0 15px;
    flex: 0 1 33.333%;
}

@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 625px) {
    .services__column {
        flex: 0 1 100%;
        margin: 0px 0px 30px 0px;
    }
}

.services__item {
    height: 100%;
    flex: 1 1 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #FFF;
}

.item-service {
    padding: 35px 40px;
}

.item-service:hover {
    background-color: #0D5C63;
}

.sprite {
    background-image: url(../img/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-1 {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.item-service:hover .sprite-1 {
    background-position: -62px -5px;
}

.sprite-3 {
    width: 48px;
    height: 48px;
    background-position: -119px -5px;
}

.item-service:hover .sprite-3 {
    background-position: -177px -5px;
}

.sprite-5 {
    width: 48px;
    height: 48px;
    background-position: -235px -5px;
}

.item-service:hover .sprite-5 {
    background-position: -293px -5px;
}

.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32/24*100%);
    color: #252B42;
    margin: 10px auto;
    letter-spacing: 0.1px;
    ;
}

.item-service__text {
    letter-spacing: 0.2px;
    line-height: calc(20/14*100%);
}

.item-service:hover .item-service__title,
.item-service:hover .item-service__text {
    color: white;
}


/*----------  experience  ----------*/

.experience {
    background-color: #FAFAFA;
    padding: 80px 0px;
}

.experience__header {}

.experience__body {
    text-align: center;
}

.experience__columns {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 -15px;
}

.experience__column {
    padding: 0 15px;
    flex: 0 1 25%;
}

@media (max-width: 886px) {
    .experience__column {
        flex: 0 1 50%;
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 473px) {
    .experience__column {
        flex: 0 1 100%;
    }
}

.item-experience {
    height: 100%;
    flex: 1 1 100%;
    padding: 30px 40px;
    background-color: #FFF;
    align-items: center;
}

.item-experience__icon_sprite {
    background-image: url(../img/icons/spritesheet_experience.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}

.sprite-7 {
    width: 49px;
    height: 48px;
    background-position: -62px -5px;
}

.sprite-8 {
    width: 49px;
    height: 48px;
    background-position: -121px -5px;
}

.sprite-9 {
    width: 49px;
    height: 48px;
    background-position: -180px -5px;
}

.sprite-1 {
    width: 47px;
    height: 41px;
    background-position: -5px -5px;
}

.item-experience__number {
    font-size: 40px;
    font-weight: 700;
    line-height: calc(57/40*100%);
    color: #252B42;
    margin: 10px auto;
    letter-spacing: 0.2px;
}

.item-experience__subtitle {
    font-weight: 700;
    line-height: calc(24/16*100%);
    letter-spacing: 0.1px;
}


/*---------- Advice   ----------*/

.page_advice {}

.advice {}

.advice__container {}

.advice__body {
    padding-top: 125px;
    padding-bottom: 80px;
}

.advice__title {}

.advice__text {
    font-size: 14px;
    line-height: calc(20/14*100%);
    letter-spacing: 0.2px;
    text-align: center;
    margin: 10px 0 45px 0;
}

.advice__columns {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.advice__column {
    padding: 0 15px;
    flex: 0 1 25%;
}

@media (max-width: 922px) {
    .advice__column {
        flex: 0 1 50%;
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 577px) {
    .advice__column {
        flex: 0 1 100%;
        margin: 0px 0px 30px 0px;
    }
}

.advice-item {
    display: flex;
    height: 100%;
    flex: 1 1 100%;
    background-color: #FFF;
    flex-direction: column;
    justify-content: space-between;
}

.advice-item__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: #252B42;
    padding: 30px 30px 15px 30px;
}

.advice-item__text {
    letter-spacing: 0.2px;
    line-height: calc(20/14*100%);
    padding: 0px 30px 30px 30px;
}

.advice-item__img {
    position: relative;
    bottom: 0;
}

.advice-item__img img {
    width: 100%;
}


/*----------  Who we are(about)  ----------*/

.page__whoweare {
    background-color: #fff;
}

.whoweare {}

.whoweare__container {}

.whoweare__header {
    padding-top: 115px;
    margin-bottom: 100px;
}

.whoweare__body {
    display: flex;
    align-items: flex-start;
}

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}

.whoweare__video video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.whoweare__content {
    flex: 1 1 auto;
    padding-left: 120px;
}

.content__header {
    padding: 20px 0;
    margin-bottom: 30px;
}

.content__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57/40*100%);
    color: #252B42;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.content__text {
    max-width: 511px;
    margin: 0 auto;
    line-height: calc(20/14*100%);
    letter-spacing: 0.2px;
}

.content__items {
    display: flex;
    flex-direction: column;
}

.content__item {
    display: flex;
}

.content__item:not(:last-child) {
    margin-bottom: 30px;
}

.item-content {}

.item-content__block {
    margin-left: 20px;
}

.item-content__icon {}

.item-content__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24/16*100%);
    margin-bottom: 5px;
    color: #252B42;
}

.item-content__text {
    font-weight: 600;
}

@media (max-width: 1080px) {
    .whoweare__content {
        padding: 0px 0px 0px 50px;
    }
    .whoweare__header {
        padding: 0;
        margin-bottom: 0;
    }
    .content__header {
        padding-top: 20px;
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 950px) {
    .whoweare {
        padding: 50px 0px 50px 0px;
    }
    .whoweare__body {
        flex-direction: column;
        align-items: stretch;
    }
    .whoweare__title {
        font-size: 24px;
    }
    .whoweare__content {
        padding: 0px 0px 0px 0px;
    }
    .whoweare__video {
        padding: 0px 0px 56.25% 0px;
    }
    .whoweare__video:not(:last-child) {
        margin: 50px 0px 0px 0px;
    }
    .content__header {
        margin: 0px 0px 30px 0px;
    }
    .content__text {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .whoweare {
        padding: 20px 0px 50px 0px;
    }
    .whoweare__top:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
    .whoweare__video:not(:last-child) {
        margin: 30px 0px 0px 0px;
    }
}


/*----------  Clients  ----------*/

.page__clients {
    border-bottom: 77px solid #252B42;
}

.clients {}

.clients__container {}

.clients__items {
    display: flex;
    padding: 50px 32px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .clients__items {
        display: none;
    }
}

.client {
    background-image: url(../img/icons/clients/clients-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.clients__link:not(:last-child) {
    margin-right: 30px;
}

.client-2 {
    width: 103px;
    height: 34px;
    background-position: -177px -77px;
}

.client-4 {
    width: 83px;
    height: 59px;
    background-position: -5px -190px;
}

.client-6 {
    width: 102px;
    height: 75px;
    background-position: -290px -5px;
}

.client-8 {
    width: 103px;
    height: 42px;
    background-position: -270px -142px;
}

.client-10 {
    width: 104px;
    height: 62px;
    background-position: -118px -5px;
}

.client-12 {
    width: 76px;
    height: 72px;
    background-position: -91px -77px;
}

.clients__link:first-child:hover .client-2 {
    background-position: -5px -5px;
}

.clients__link:nth-child(2):hover .client-4 {
    background-position: -177px -121px;
}

.clients__link:nth-child(3):hover .client-6 {
    background-position: -98px -190px;
}

.clients__link:nth-child(4):hover .client-8 {
    background-position: -290px -90px;
}

.clients__link:nth-child(5):hover .client-10 {
    background-position: -210px -194px;
}

.clients__link:last-child:hover .client-12 {
    background-position: -5px -77px;
}

.clients__subscribe {
    padding: 20px 32px 0 32px;
    margin-bottom: -57px;
}

.subscribe__form {
    background-color: #17213C;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe__title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32/24*100%);
    letter-spacing: 0.1px;
    flex: 1 0 30%;
    margin-right: 180px;
}

.subscribe__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    position: relative;
    flex: 0 1 100%;
}

.subscribe__input input {
    width: 100%;
    padding: 15px 0px 15px 20px;
    border-radius: 5px;
}

.subscribe__input button {
    padding: 14px 22.5px;
    background-color: #FF7B47;
    color: #fff;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 1px;
    top: 1px;
}

@media (max-width: 895px) {
    .clients__subscribe {
        padding: 0;
    }
    .subscribe__form {
        flex-direction: column;
    }
    .subscribe__title {
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
        margin-right: 0;
    }
    .subscribe__input {
        width: 100%;
    }
    .subscribe__input input {
        width: 100%;
        padding: 10px 0px 10px 10px;
    }
    .subscribe__input button {
        padding: 9px;
        background-color: #FF7B47;
        color: #fff;
        border-radius: 0 5px 5px 0;
        position: absolute;
        right: 1px;
        top: 1px;
    }
}

@media (max-width: 400px) {
    .subscribe__form {
        padding: 20px;
    }
}


/*----------  Get in Touch  ----------*/

.page__touch {
    margin-bottom: 80px;
}

.touch {}

.touch__container {}

.touch__header {
    padding: 80px 0;
}

.touch__body {}

.touch__row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.touch__column {
    padding: 50px 40px;
    background-color: #fff;
    display: flex;
    flex: 0 1 33.333%;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

.touch__column.active {
    background-color: #252B42;
    align-self: stretch;
    flex: 0 1 33.333%;
    padding: 80px 40px;
    margin: 0;
}

.item-touch {}

.item-touch__img {}

.item-touch__links {
    padding: 15px 0;
}

.item-touch__link {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(24/14*100%);
    color: #252B42;
}

.item-touch__text {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: #252B42;
}

.item-touch__button {
    color: #FF7B47;
    padding: 10px 20px;
    border: 1px solid #FF7B47;
    border-radius: 5px;
    font-weight: 600;
    background: none;
    align-self: center;
}

.touch__column.active .item-touch__link,
.touch__column.active .item-touch__text,
.touch__column.active .item-touch__button {
    color: #fff;
}

.touch__column.active .item-touch__button {
    border: 1px solid #fff;
}

@media (max-width: 942px) {
    .touch__row {
        flex-wrap: wrap;
    }
    .touch__column {
        padding: 30px 20px;
        flex: 0 1 100%;
    }
    .touch__column.active {
        flex: 0 1 100%;
        padding: 30px 20px;
    }
}


/*----------  Footer  ----------*/

.footer {
    flex: 0 0 auto;
}

.footer__container {}

.footer__consulting {
    background-color: #fff;
    margin-top: 68px;
}

.consulting__body {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.consulting__text {}

.text-block {}

.text-block__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32/24*100%);
    color: #252B42;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.tetx-block__text {
    line-height: calc(20/14*100%);
}

.consulting__button {
    padding: 15px 40px;
    color: #fff;
    font-weight: 700;
    line-height: 200%;
    background-color: #FF7B47;
    border-radius: 5px;
    margin: 0 38px;
}

@media (max-width: 992px) {
    .footer__consulting {
        margin-top: 0;
    }
}

@media (max-width: 750px) {
    .consulting__body {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .consulting__button {
        margin-top: 20px;
    }
}

@media (max-width: 694px) {}

.footer__content {
    background: #17213C;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.footer__menu {
    display: flex;
}

.menu-footer {
    margin: 0 -15px;
}

.menu-footer__column {
    flex: 0 0 25%;
    padding: 0 15px;
}

.menu-footer__header {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: #fff;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.menu-footer__list {}

.menu-footer__item {}

.menu-footer__item:not(:last-child) {
    margin-bottom: 10px;
}

.menu-footer__link {
    font-weight: 600;
    line-height: calc(24/14*100%);
    color: #fff;
    letter-spacing: 0.2px;
}

.footer__cotacts {
    margin: 0 -15px;
}

.contacts {
    padding:0 15px;
}

.contacts__header {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: #fff;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.contacts__item {
    font-weight: 600;
    line-height: calc(24/14*100%);
    color: #fff;
    letter-spacing: 0.2px;
    position: relative;
    display: flex;
    align-items: center;
    
    flex: 0 0 33.333%;
}

.contacts__item:not(:last-child) {
    margin-bottom: 10.37px;
}

.contact__img {
    background-image: url(../img/icons/footer/contacts_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.contact-map {
    width: 24px;
    height: 31px;
    background-position: -5px -5px;
}

.contact-phone {
    width: 24px;
    height: 25px;
    background-position: -39px -5px;
}

.contact-send {
    width: 24px;
    height: 27px;
    background-position: -73px -5px;
}

.contact__text {
    margin-left: 10px;
}

@media (max-width: 992px) {
    .footer__body {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__cotacts {
        display: flex;
        margin-top: 30px;
        align-items: flex-start;
    }
    .contacts__header {
        display: none;
    }
    .contacts__item {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .footer__menu {
        flex: 1 1 100%;
        justify-content: space-between;
    }
}

@media (max-width: 700px) {
    .footer__cotacts {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: flex-start;
        border-top: 1px solid #fff;
        flex: 1 1 100%;
    }
    .contacts__item {
        align-items: center;
        flex-direction: row;
        text-align: left;
    }
}

@media (max-width: 460px) {
    .footer__menu {
        flex-wrap: wrap;
    }
    .menu-footer__column {
        flex: 0 0 50%;
        margin-bottom: 35px;
    }
}

.footer__rights {}

.rights__body {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.rights__text {
    font-weight: 600;
    line-height: calc(24/14*100%);
    letter-spacing: 0.2px;
}

.rights__links {
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.rights__link:not(:last-child) {
    margin-right: 20px;

}